    <!-- Confirmation start before leaving Nutriaura -->
  <!-- Twin Health Modal -->
  <div class="modal fade" id="twinHealthModal" tabindex="-1" aria-labelledby="twinHealthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="twinHealthModalLabel">
            <i class="bi bi-patch-check-fill me-2"></i>
            Powered by Twin Health
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="mb-3">
            NutriAura is a health and wellness brand focused on revitalizing metabolism and promoting holistic health through natural, nutrient-rich foods and supplements.
          </p>
          <p class="mb-0">
            <strong>Twin Health</strong> is a leader in precision health, helping millions make better choices for their wellbeing through data-driven insights.
          </p>
          <span class="mb-2">
            Goto: <strong><a href="https://ind.twinhealth.com/">Twin Health</a><strong>
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Confirmation end before leaving Nutriaura -->