    <!-- Confirmation start before leaving Nutriaura -->
    <div class="modal fade" id="twinHealthConfirm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave NutriAura?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                You’ll be redirected to the <strong>Twin Health</strong> website.
                <br>
                Are you sure you want to continue?
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                Cancel
                </button>
                <a href="https://ind.twinhealth.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-success">
                Yes, Continue
                </a>
            </div>
            </div>
        </div>
    </div>
    <!-- Confirmation end before leaving Nutriaura -->